.container-fluid {
    background-color: #f5f5dc;
}

.homePage {
    height: 80vh;
    flex-direction: column;
    font-family: monospace;
}

.explore-btn {
    border: none;
    padding: 7px 20px;
    margin-top: 10px;
    background-color: #6495ed;
    color: #ffffff;
    text-decoration: none;
}

.crypto-coin {
    color: tomato;
}

.explore-btn:hover {
    background-color: #3c74db;
    color: #ffffff;
}

@media screen and (max-width:600px) {
    .homePage {
        height: 50vh;
    }
}

@media only screen and (max-width: 850px) and (min-width: 620px) {
    .homePage {
        height: 50vh;
    }
}