.contact-title {
    font-family: monospace;
}

.contact-btn {
    border: none;
    padding: 7px 20px;
    margin-top: 10px;
    background-color: #6495ed;
    color: #ffffff;
    border-radius: 5px;
    text-decoration: none;
}

.contact-btn:hover {
    background-color: #3c74db;
    color: #ffffff;
}

.address {
    margin-bottom: 70px;
}

.address-icon {
    color: #3c74db;
}